a {
	color: #7182F5;
}

body,
h1 a {
	color: #be1e2d;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators  li {
	background-color: rgba(255, 255, 255, 0.5);
	border-color: #c11c20;
}

.dropdown-menu> li>a{
	color:darkred;
}

.dropdown-toggle {
	cursor: default;
}

.info-box dd {
	color: #947e80;
	font-size: 12px;
	margin-bottom: 3px;
	margin-left: 10px;
}

.info-box dt {
	font-weight: bold;
}

.info-box h1 {
	font-size: 20px;
	margin-top: 0;
}

.info-box-container {
	padding: 0;
}

.info-boxes-wrapper {
	padding: 0;
}

h1 a:hover,
h1 a:focus {
	color: #8d1621;
	text-decoration: none;
	margin:10px;
}

#menuitems li {
	font-size: 12px;
/*	background-color: #F4FA58;*/
}


.info-boxes-wrapper {
	padding: 0;
}


#main-footer {
	font-size: 11px;
}

#main-footer > .container-fluid > div {
	margin-bottom: 5px;
	margin-top: 5px;
}

#main-footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main-header {
	padding: 15px;
}

#main-header h1 {
	font-size: 26px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

#main-wrapper {
	border: 5px solid;
	border-left: none;
	border-right: none;
	background-color: #fffef7;
}

#main-wrapper > * {
	border-bottom: 5px solid;
	border-top: 5px solid;
}

#main-wrapper > *:first-child, #main-wrapper > *:last-child {
	border: none;
}

.navbar-default {
	background-color: #6A0000;
}

.navbar-default a {
	color: #be1e2d;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #d6bb8e;
    color: #555;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	color:#E6E6E6;
	background-color: #BA6565;
}

.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #d6bb8e;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default,
.navbar-default .navbar-toggle {
	border-color: #b49e78;
}

.text-content h1 {
    font-size: 28px;
}

/* for carousel */
@media (min-width: 836px) {
	#carousel-wrapper .carousel {
		margin-left: auto;
		margin-right: auto;
		width: 816px;
	}
}

/*XS devices (cellphone, less than 768)*/
@media (max-width: 768px){
	body{
		background-image: none;
	}
	h1 a{
		color:#BE1E2D;
	}
	#carousel-wrapper{
		border-bottom: 2px solid;
	}
	.info-box {
		border-bottom: 2px solid;
		font-size: 14px;
		padding: 15px;
	}

	/*Color for footer and header*/

	a{
		color: #404CAC;
	}
	a:hover{
		color: #101964;
	}
}

@media(max-width: 992px){
	.info-boxes-wrapper{
		background-image: url('../img/background-gradient-m.jpg');
		background-color: yellow;
		background-repeat: repeat-x;
	}
	#main-wrapper > *:first-child, #main-wrapper > *:last-child {
		border: none;
		background-color: #F3FFA6;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color: lightgrey;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
		background-color: brown;
		color: lightgrey;

	}


}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.info-box {
		border: 2px solid;
		border-radius: 5px;
		box-shadow: 0 0 3px 0 BLACK;
		font-size: 14px;
		margin-bottom: 15px;
		margin-top: 15px;
		padding: 15px;
	}

	.info-box-container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.info-boxes-wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	.info-box {
		border-bottom: 2px solid;
		font-size: 14px;
		padding: 15px;
	}
	nav ul ul {
		display: none;
	}
	nav ul li:hover > ul {
		display: block;
	}
	.text-content {
    	padding: 15px 30px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#main-wrapper {
		border: 5px solid;
		border-radius: 10px;
		box-shadow: 0 0 3px 0 BLACK;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		width: 826px;
	}
	body {
		background-image: url("../img/background-gradient.jpg");
/*		background-color: #fe6f01;*/
		background-repeat: repeat-x;
		border-color: #be1e2d;
		color: #be1e2d;
		font-family: Tahoma, Verdana, Arial, sans-serif;
	}
}

/*for store-location*/
#map {
	height: 600px;
	padding: 0;
	margin: 0;
}


/*For customer-care*/
input#sendmail {
	margin-bottom: 10px;
}

#other-things{
	margin-top: 10px;
}
h3 {
	margin-top: 10px;
	margin-bottom: 0px;
}


/*for about us*/
price {
	font-size: 30px;
}

.bottom {
	text-align: center;
}

.info {
	font-weight: bold;
}

hr {
	color: #c11c20;
	border-color: #c11c20;
	background-color: #c11c20;
}

.member-text {
	font-size: 20px;
}